@font-face {
    font-family: 'programme';
    src: url(/GENIUS/fonts/Programme-Regular.ttf);
  }

* {
    font-family: 'programme', sans-serif;
}
  
body {
    background-color: #FEFC65;
}

.genius-logo {
    height: 9rem;
    width: auto;
}

.logo {
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    
}
.wrapper input, input::placeholder {
    width: 30%;
    height: 30px;
    border: none;
    outline: none;
    color: black;
}
.wrapper input:focus::placeholder {
    color: rgb(133, 133, 133);
}



h1 {
    font-family: 'programme', sans-serif;
    
}

button {
    background: rgb(255, 255, 255);
    border: none;
    padding: 4px;

}

i {
    border: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

#album-cover:hover {
    height: 250px;
    width: auto;
}

#artist-name {
    text-align: center;
}

#artist-names {
    text-align: center;
    color: white;

}





#lyrics {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.song-title {
    font-size: 10px;
}



#song-card-list {
    margin-top: 32px;
    width: 100%;
    justify-content: center;
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
}

#album-cover {
    text-align: center;
    width: 230px;
    height: 230px;
    background-color: black;
    margin-bottom: 16px;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: rgb(0 0 0 / 20%) 0px 12px 24px 0px, rgb(0 0 0 / 10%) 0px 2px 4px 0px, rgb(255 255 255 / 5%) 0px 0px 0px 1px inset;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
}

#container {
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

#song-title {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin: 0 0 0 40px;

}

.artist-names {
    font-size: 12px;
    color: #333;
    max-width: 230px;
    text-align: left;
    margin: 0 0 0 40px;
}

#page-views {
    color: red;
    text-align: left;
    margin: 0 0 0 40px;
}

.music {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px -1px 15px 0px;
}

.rg_embed {
    display: block!important;
    width: 900px;
}

.new {
    text-align: center;
}

#close, #close:hover{
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

#close:hover {
    color: rgb(62, 62, 62);
}

#song {
    text-align: center;
    color: white;
}

#artist-song {
    color: white;
}


iframe {
    text-align: center;
    width: 75%;
    height: 64px;
    border: none;
}

#frame {
    text-align: center;
}

.fa-arrow-left-long {
    font-size: 30px;
}

#album-frame {
    text-align: center;
}

#album-picture {
    width: auto;
    height: 250px;
    box-shadow:0px -1px 7px 0px;;
}

#youtube {
    width: 50%;
    height: auto;
}

#media-list {
    text-align: center;
   
}

#media-list ul {
    display: inline-flex;
    list-style: none;
}


#medias i {
    font-size: 35px;
    padding: 0 30;

}

#media-list ul {
    padding: 0;
}

.fa-spotify {
    color: #1ED760;
}

.fa-youtube {
    color: #FF0000;
}

.fa-soundcloud {
    color: #F85402;
}

.fa-fire-flame-curved {
  background: -webkit-linear-gradient(rgb(255, 0, 0), rgb(255, 136, 0));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#artist-picture {
    border-radius: 50%;
    height: auto;
    width: 20rem;
}

#artist-frame {
    text-align: center;
}

#main-stuff {
    margin-top: 10px;
    width: 900px;
    position: fixed;
    padding: 10px;
    margin-left: 20px;
    box-shadow: 0px -1px 15px 0px;
    background-image: url("/GENIUS/images/grad1.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

#all {
    display: inline;
}

#song-lyrics {
    float: right;
}
